*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(200, 214, 216, 0.178);
}

header{
    height: 80px;
    background-color: white;
}

header img{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

header h1{
    display: inline-block;
    position: relative;
    bottom: 30px;
}

main{
    margin-top: 30px;
    width: 70%;
    margin: 40px auto;
}

nav{
    background-color: white;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 2px;
}

button{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.addTask{
    background-color: rgb(64, 140, 240);
    color: white;
}

.addSection{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}

section{
    padding: 20px 40px;
    background-color: white;
}

.task{
    margin-top: 10px;
}

.task .done{
    border: 1px solid green;
    display: inline-block;
    border-radius: 50%;
    padding: 0 6px;
}

.task .sticker{
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border-radius: 12px;
}

.sticker.editorial{
    background-color: rgb(64, 140, 240);
}

.sticker.goals{
    background-color: rgb(159, 79, 184);
}